*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formbg{
    background-color: purple;
    width: 70%;
    height: 400px;
    border-radius: 10px;
    
}
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    text-align: center;
}
.twoinputs{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}
.inputclass{
    width: 45%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(170, 8, 170);
}
.inputclass::placeholder{
    padding-left: 20px;
}
.btndiv{
    display: flex;
    justify-content: center;
}
button{
    padding: 12px 16px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid rgb(201, 20, 201);
}
button:hover{
    background-color: purple;
    color: white;
}

@media (max-width:600px) {
    .twoinputs{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .inputclass{
        width: 90%;
    }
    .formbg{
        height: 95%;
        width: 90%;
    }
}